<h1> This is the homepage </h1> 
  <ul>
    <% @posts.each do |p| %>
      <li><%= p.title %></li>
    <% end %>

    <%= form_for(@post) do |f| %>
      <%= f.label :title %><br>
      <%= f.text_area :title %><br>

      <%= f.label :body %><br>
      <%= f.text_area :body %><br>

      <%= f.submit "Submit new post!" %>
    <% end %>   
  </ul>