<h1> Probably the worst post page in HISTORY !!! </h1> 
  <body> 
      <form method='get' action='<%= new_user_registration_path %>'>
      <button>Sign Up</button>
      </form>

    <%= form_for(@post) do |f| %>
      <%= f.label :title %><br>
      <%= f.text_area :title %><br>

      <%= f.label :body %><br>
      <%= f.text_area :body %><br>

      <%= f.submit "Submit new post!" %>
    <%end%>  
    <section>
        <center>
      <% @posts.each do |p| %>
        <ul>Title:  <%= p.title %><br>
            Post:  <%= p.body %></ul>
        <%end%> 
        </center>
    </section>
  </body> 