<h1> This is the homepage </h1> 
  <body> 
    <%= form_for(@post) do |f| %>
      <%= f.label :title %><br>
      <%= f.text_area :title %><br>

      <%= f.label :body %><br>
      <%= f.text_area :body %><br>

      <%= f.submit "Submit new post!" %>
    <%end%>  

    <% @posts.each do |p| %>
      <li><%= p.title %></li>
      <li><%= p.body %></li>
    <%end%> 
  </body> 